﻿@model Aplikacija.Models.PostModel

@{
    ViewBag.Title = "CreateNewPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>





@using (Html.BeginForm("CreateNewPost", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)
    <br />
<form method="post" action="">
        <div class="editor-label" >
           <h3> @Html.LabelFor(model => model.Title) </h3>
        </div>
        <div class="editor-field" >
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
            *поставување на наслов е задолжително
        </div>
    <br />

    <div>
           <h3> @Html.LabelFor(model => model.Photo) </h3>
        </div>
        <div >
            <input id="File" type="file"  name="file"/> *поставување на слика не е задолжително
        </div>
    <br />

    <h3>Содржина</h3>
        @Html.TextAreaFor(model=>model.Sodrzina, new { @class = "adminRichText" })
        *испишување на содржина е задолжително
        <script language="javascript" type="text/javascript"> 
        jQuery(".adminRichText").ckeditor();
        </script>
        <p>
            <input type="submit" value="Постирај" />
        </p>
    </form>
}
