﻿@model IEnumerable<Aplikacija.Models.PostModel>

@{
    ViewBag.Title = "Index";
}


    

@foreach (var item in Model)
{
     <br />
    <br />
    <div style="background-color:White; margin-left:100px; margin-right:100px;"> 
   
    <table>
   <tr>
        
        <td style="width:200px;" align="left" > Автор: @Html.DisplayFor(modelItem => item.PostAuthor)</td>
        <td style="width:350px; text-align:left" > 
            @Html.DisplayFor(modelItem => item.Title)
        </td> 
        </tr>
        <tr style="height:20px"></tr>
        @{
    if (item.Photo.IsEmpty())
    { }
    else 
    { 
     <tr>
        <th colspan="2" style="width:auto">
        <img src="@item.Photo" alt="slika"/>
        </th>
        </tr>
    }
}
    <tr> 
        <th colspan="2" style="width:100%;">

    @Html.Raw(item.Sodrzina)
     
       
        </th>
    </tr>
    </table>


    </div>
}
<br />
<br />

