﻿@model Aplikacija.Models.UserModel

@{
    ViewBag.Title = "LogOn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div runat="server" style="background-color:#EAEAEB; min-height:450px ">
<br />
<br />
<p>Доколку немате кориснички акаунт регистрирајте се <a href="../Home/SignUp">овде</a> </p>
<br />
<form method="post" action="">
    
<br />
<h3>Корисничко име: </h3>
@Html.TextBoxFor(m => m.UserName)
*задолжително поле
<br />    
<h3>
Лозинка:</h3>
@Html.TextBoxFor(m=>m.Password)
*задолжително поле
<br />
<br />
<br />
<br />
    <input type="Submit" value="Логирај се"/></form>
<br />

</div>
