﻿@model Aplikacija.Models.UserModel

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
<div runat="server" style="background-color:#EAEAEB; min-height:450px ">
<br />        
        <div class="editor-label">
          <h3>  @Html.LabelFor(model => model.UserName)  </h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
            *задолжително поле
        </div>
        <br />
        <div class="editor-label">
          <h3>  @Html.LabelFor(model => model.Email) </h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
            *задолжително поле
        </div>
        <br />
        <div class="editor-label">
         <h3>   @Html.LabelFor(model => model.Password) </h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
            *задолжително поле
        </div>
        <br />
        <br />
        <p>
            <input type="submit" value="Create" />
        </p>
</div>
}