﻿<!DOCTYPE html>
<html>
<head>
    <title>@RenderSection("title", required: false)</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/ckeditor/adapters/jquery.js")" type="text/javascript"></script>
    <style type="text/css">
    .adminRichText
        {
        width:450px;
        }
    </style>
</head>

<body style="background-color:#796ECB">
    <table width="100%" style=" height:240px; " >
    <thead></thead>
    
    <tbody  >
    <tr style="font:white">
    
    <th width="20%">
    </th>

    <th width="60%"><h1><font color="white"> Добродојдовте </font></h1>
    </th>

    <th width="20%">
    @{
        
        if (Session["user"] == null)
        {
            <a href="../Home/LogOn">Log In</a>
        }
        else 
        {  
            string pom = Session["user"].ToString();
            <p>Welcome @pom |
            @Html.ActionLink("Log Off", "LogOff", "Home") |</p>
        }
    }
     
    </th>
    
    </tr>

    <tr>
    <th></th>
    <th>
     @{
        
        if (Session["user"] != null)
        {
            <p>
            <a href="../Home/Index">Дома</a> |
            <a href="../Home/CreateNewPost"> Креирај нов пост</a> |
           </p>
        }
        else
        {
            <a href="../Home/Index">Дома</a>
        }
    }
     </th>
    <th></th>
    </tr>

    <tr>
    
    <th>
    </th>

    <th style="height:auto; background:#665DA8">@RenderBody()
    </th>
    
    <th>
    </th>
    </tr>
    <tr>
    <th></th>
    <th></th>
    <th></th>
    </tr>
    </tbody>

    </table>
</body>
</html>
